@model LessonViewModel

@{
    var parms = new Dictionary<string, string>
    {
        { "lessonId", Model.Id.ToString() },
        { "confirmation", "true" }
    };

    var backParms = new Dictionary<string, string>
    {
        { "semesterId", Model.SemesterId.ToString() },
        { "departmentId", Model.DepartmentId.ToString() },
    };
}

<div class="text-danger delete-warning">
    UWAGA! Czy na pewno chcesz usunąć przedmiot "@Model.TitleOrFullName"?
    Wiąże się to z usunięciem wszystkich materiałów z nim związanych. Liczba materiałów do usunięcia to @Model.MaterialsCount.
</div>
<br />
<div class="buttons">
    <a asp-action="Delete" asp-all-route-data="parms" class="btn btn-default accept-button delete-button">
        <span class="delete-button-large">Usuń dane przedmiotu</span>
        <span class="delete-button-small">Usuń</span> 
    </a>
    <a asp-action="Lessons" asp-all-route-data="backParms" class="btn btn-default back-button">Anuluj</a>
</div>