@page "/"
@namespace acaShare.Blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>acaShare.Blazor</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/list.css">
    <link rel="stylesheet" href="~/css/errors/PageNotFound.css">
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="~/css/moderator-panel/home.css">
    <link rel="stylesheet" href="~/css/moderator-panel/list.css">
    <link rel="stylesheet" href="~/css/materials/material.css">
    <link rel="stylesheet" href="~/css/materials/material-images-modal.css">
    <link rel="stylesheet" href="~/css/moderator-panel/ModeratorManagementStyle.css" />
    <link rel="stylesheet" href="~/css/moderator-panel/change-requests.css" />
    <link rel="stylesheet" href="~/css/upper-manage-box.css" />
    @*<link rel="stylesheet" href="~/css/moderator-panel/materials-to-approve.css" />*@
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/material-images-modal.js"></script>
    @* skrypty do statystyk, czy to dobre miejsce??? *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</body>
</html>
