@using ServiceLayer.Interfaces;
@inject IUniversityTreeTraversalService _service
@page "/"

<h1>Test danych z bazki:</h1>
<br />

<ul>
    @foreach (var university in _universities)
    {
        <li>
            @university.Name
        </li>
    }
</ul>

@code {
    private IEnumerable<BLL.Models.University> _universities;

    protected override void OnInitialized()
    {
        _universities = _service.GetUniversities();
    }
}
