@*@attribute [Microsoft.AspNetCore.Components.RouteAttribute(RouteConstants.ModeratorPanelRoute + "/MaterialsToApprove")]*@
@page "/Moderator/ModeratorPanel/MaterialsToApprove"
@attribute [Authorize(Roles = Roles.AdministratorRole + ", " + Roles.MainModeratorRole + ", " + Roles.ModeratorRole)]
@inject IMaterialsService MaterialsService
@inject IMaterialStateChangeService MaterialStateChangeService

    <div class="data-container">
        <nav class="colornav">
            <div class="nav-wrapper path-header-wrapper">
                <div class="col s12 tree-path">
                    <a class="breadcrumb">
                        @pageTitle
                    </a>
                </div>
            </div>
        </nav>

        <div class="home-content">
            <AcaCollection Items="_materials" TItem="BLL.Models.Material">
                <ListItemTemplate>
                    <MaterialToApproveListItem Material="context"
                                               OnApproveMaterialClickCallback="MaterialStateChangeService.OnApproveMaterialClickCallback"
                                               OnRejectMaterialClickCallback="MaterialStateChangeService.OnRejectMaterialClickCallback" />
                </ListItemTemplate>
            </AcaCollection>
        </div>
    </div>


@code {
    private IReadOnlyCollection<BLL.Models.Material> _materials;
    private const string pageTitle = "Materiały oczekujące na zatwierdzenie";

    protected override void OnInitialized()
    {
        ChangePageTitle(pageTitle);
        RefreshData();
        MaterialStateChangeService.OnEndProcessing += RefreshData;
    }

    private void RefreshData()
    {
        _materials = MaterialsService.GetMaterialsToApprove() as IReadOnlyCollection<BLL.Models.Material>;
    }

    [CascadingParameter]
    public Action<string> ChangePageTitle { get; set; }
}