<AuthorizeView>
    <Authorized>
        <form id="logout-form" method="post" action="Identity/Account/LogOut">
            <a href="javascript:{}" onclick="document.getElementById('logout-form').submit()">Wyloguj</a>
        </form>
    </Authorized>
</AuthorizeView>
