@inherits LayoutComponentBase
@layout MainLayout

<div class="col s12 m5 l3 home-part moderator-actions-container">
    <div class="data-container">
        <nav class="colornav">
            <div class="nav-wrapper path-header-wrapper">
                <div class="col s12 tree-path">
                    Akcje
                </div>
            </div>
        </nav>

        <div class="home-content">
            <ul id="moderator-actions" class="moderator-actions">

                <li class="moderator-actions-item moderator-actions-item-active">
                    <a class="moderator-actions-item-link" href="MaterialsToApprove">
                        Materiały oczekujące na zatwierdzenie
                    </a>
                </li>
                <li class="moderator-actions-item ">
                    <a class="moderator-actions-item-link" href="EditSuggestions">
                        Sugestie edycji
                    </a>
                </li>
                <li class="moderator-actions-item ">
                    <a class="moderator-actions-item-link" href="DeleteSuggestions">
                        Sugestie usunięcia
                    </a>
                </li>
                <li class="moderator-actions-item ">
                    <a class="moderator-actions-item-link" href="Universities">
                        Zarządzaj strukturą uczelni
                    </a>
                </li>
                <li class="moderator-actions-item ">
                    <a class="moderator-actions-item-link" href="ModeratorManagement">Zarządzaj moderatorami</a>
                </li>
                <li class="moderator-actions-item ">
                    <a class="moderator-actions-item-link" href="Statistics">
                        Statystyki
                    </a>
                </li>
                <li class="moderator-actions-item ">
                    <a class="moderator-actions-item-link" href="Regulations">
                        Regulamin
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col s12 m7 l9 home-part">

    <div class="data-container">
        <nav class="colornav">
            <div class="nav-wrapper path-header-wrapper">
                <div class="col s12 tree-path">
                    <a class="breadcrumb" href="">
                        Nazwa komponentu (podstrony), w którym się znajdujemy
                    </a>
                </div>
            </div>
        </nav>

        <div class="home-content">
            @Body
        </div>
    </div>
</div>

@code {

}
