<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
    <a class="navbar-brand" href="">acaShare</a>
    <button class="navbar-toggler navbar-toggler-right" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse @NavMenuCssClass" @onclick="ToggleNavMenu"> 
        <ul class="navbar-nav ml-auto align-items-lg-center">
            <li class="nav-item">
                <Notifications />
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="MaterialsToApprove">
                    Panel moderatora
                </NavLink>
            </li>
            <li class="nav-item">
                <LoginDisplay />
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool showMobileMenu = false;

    private string NavMenuCssClass => showMobileMenu ? "show" : null;

    private void ToggleNavMenu()
    {
        showMobileMenu = !showMobileMenu;
    }
}