<a class="nav-link" id="notification" @onclick="OnNotificationsClick">
    <i class="material-icons">notifications</i>
</a>

@code {
    private void OnNotificationsClick()
    {
        Console.WriteLine("Notifications button clicked");
    }
}
