@model AddMaterialViewModel

@section MaterialViewCSS {
    <link rel="stylesheet" href="~/css/materials/material.css">
    <link rel="stylesheet" href="~/css/materials/material-edit.css">
    <link rel="stylesheet" href="~/css/materials/material-management.css">
    <link rel="stylesheet" href="~/css/materials/material-images-modal.css">
}

@section Scripts {
    <script src="~/js/material-management.js"></script>
    <script src="~/js/material-images-modal.js"></script>
}

<div class="row">
    <form id="material-form" method="post" class="col s12">
        <div asp-validation-summary="All" id="validation-summary" class="text-danger"></div>
        <div>
            <div class="input-field">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="validate" data-length="255" />
                <span asp-validation-for="Name" class="text-danger input-error-small"></span>
            </div>
        </div>
        <div>
            <div class="input-field">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="materialize-textarea material-description-textarea" data-length="4000"></textarea>
                <span asp-validation-for="Description" class="text-danger input-error-small"></span>
            </div>
        </div>
        <div>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Wybierz pliki</span>
                    <input id="file-picker" type="file" multiple onchange="handleUploadFromInputElement()" title="">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate hidden" />
                </div>
            </div>
        </div>
        <input asp-for="LessonId" type="hidden" />

        <div class="material-content">
            <section class="material-content-files">
                <h2 class="material-content-files-header">Pliki</h2>

                <div id="files-wrapper" class="files-wrapper">
                    <div id="drop-area-text" class="hidden"><p>Upuść pliki tutaj</p></div>
                    <!-- Dynamic content -->
                </div>

                <!-- The Modal/Lightbox -->
                <div id="gallery-modal" class="gallery-modal" onclick="closeModalOnBackgroundClick(event)">
                    <div id="current-slide-info" class="current-slide-info"></div>
                    <span class="close" onclick="closeModal()">&times;</span>
                    <div id="modal-content" class="modal-content">
                        <!-- Dynamic content -->
                    </div>

                    <!-- Next/previous controls -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </section>
        </div>

        <div class="buttons">
            <button type="button" onclick="submitForm(event)" class="btn btn-default accept-button">Dodaj</button>
            <a asp-action="Materials" asp-route-lessonId="@Model.LessonId" class="btn btn-default back-button">
                <span class="back-button-large">Wróć do listy materiałów</span>
                <span class="back-button-small">Cofnij</span>
            </a>
        </div>
    </form>
</div>