@model AddMaterialViewModel

<div class="row">
    <form method="post" class="col s12">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <div class="input-field">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="validate" />
                <span asp-validation-for="Name" class="text-danger input-error-small"></span>
            </div>
        </div>
        <div>
            <div class="input-field">
                <label asp-for="Description"></label>
                <input asp-for="Description" />
                <span asp-validation-for="Description" class="text-danger input-error-small"></span>
            </div>
        </div>
        <input asp-for="LessonId" type="hidden" />

        <button type="submit">Dodaj</button>
        <a asp-action="Materials" asp-route-lessonId="@Model.LessonId">Wróć do listy materiałów</a>
    </form>
</div>