@model DeleteRequestViewModel

@section MaterialViewCSS {
    <link rel="stylesheet" href="~/css/change-requests.css" />
}

@section Scripts {
    <script src="~/js/delete-request.js"></script>
}

<div class="row">
    <form id="delete-suggestion-form" method="post" class="col s12">
        <div asp-validation-summary="All" id="validation-summary" class="text-danger"></div>

        <div>
            <div class="input-field">
                <select asp-for="ReasonId" asp-items="@(new SelectList(Model.Reasons, "ChangeReasonId", "Reason"))" onchange="handleSelectListChange(this)">
                    <option>Wybierz dlaczego sugerujesz usunięcie tego materiału...</option>
                </select>
                <span asp-validation-for="ReasonId" class="text-danger input-error-small"></span>
            </div>
        </div>
        <div>
            <div class="input-field">
                <label for="AdditionalComment" id="additional-comment-label">Wyjaśnienie (opcjonalnie)</label>
                <textarea id="additional-comment" class="validate materialize-textarea" data-length="255" type="text" name="AdditionalComment"
                       data-val="true" data-val-maxlength="Maksymalna długość wyjaśnienia to 500 znaków." 
                       data-val-maxlength-max="500"></textarea>
                <span asp-validation-for="AdditionalComment" class="text-danger input-error-small"></span>
            </div>
        </div>
        <input asp-for="MaterialId" type="hidden" />

        <input type="submit" value="Wyślij sugestię" />
        <a asp-action="Material" asp-route-MaterialId="@Model.MaterialId">Wróć do materiału</a>
    </form>
</div>