@model DeleteRequestViewModel

@section MaterialViewCSS {
    <link rel="stylesheet" href="~/css/change-requests.css" />
}

@section Scripts {
    <script src="~/js/delete-request.js"></script>
}

<div class="material-container">
    <form id="delete-suggestion-form" method="post">
        <div asp-validation-summary="All" id="validation-summary" class="text-danger"></div>

        <div>
            <div class="input-field">
                <select asp-for="ReasonId"
                        asp-items="@(new SelectList(Model.Reasons, "ChangeReasonId", "Reason"))"
                        onchange="handleSelectListChange(this)">
                    <option value="0">Wybierz dlaczego sugerujesz usunięcie tego materiału...</option>
                </select>
                <span asp-validation-for="ReasonId" class="text-danger input-error-small"></span>
            </div>
        </div>
        <div>
            <div class="input-field">
                <label for="AdditionalComment" id="additional-comment-label">Wyjaśnienie (opcjonalnie)</label>
                <textarea id="additional-comment" class="validate materialize-textarea" data-length="255" type="text" name="AdditionalComment"
                          data-val="true" data-val-maxlength="Maksymalna długość wyjaśnienia to 500 znaków."
                          data-val-maxlength-max="500"></textarea>
                <span asp-validation-for="AdditionalComment" class="text-danger input-error-small"></span>
            </div>
        </div>
        <input asp-for="MaterialId" type="hidden" />
        @for (int i = 0; i < Model.Reasons.Count; i++)
        {
            <input asp-for="Reasons[i].ChangeReasonId" type="hidden" />
            <input asp-for="Reasons[i].Reason" type="hidden" />
        }

        <div class="buttons">
            <button type="submit" class="btn btn-default accept-button">
                <span class="accept-button-large">Wyślij sugestię</span>
                <span class="accept-button-small">Wyślij</span>
            </button>
            <a asp-action="Material" asp-route-MaterialId="@Model.MaterialId" class="btn btn-default back-button">
                <span class="back-button-large">Wróć do widoku materiału</span>
                <span class="back-button-small">Cofnij</span>
            </a>
        </div>
    </form>
</div>