@model DeleteMaterialViewModel

<div class="text-danger delete-warning">
    UWAGA! Czy na pewno chcesz usunąć materiał "@Model.Name"? Wiąże się to z usunięciem wszystkich plików jakie się w nim znajdują.
    Liczba plików w tym materiale to @Model.FilesCount
</div>
<br />
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="LessonId" />
    <input type="hidden" asp-for="MaterialId" />
    <div class="buttons">
        <button type="submit" class="btn btn-default accept-button delete-button">Usuń materiał</button>
        <a asp-action="Material" asp-route-materialId="@Model.MaterialId" class="btn btn-default back-button">Anuluj</a>
    </div>
</form>
