<div class="data-container">
    <nav class="colornav">
        <div class="nav-wrapper path-header-wrapper">
            <div class="col s12 tree-path">
                Wydziały
            </div>
        </div>
    </nav>

    <div class="home-content">
        <div class="list-view-wrapper">
            <div class="list-container">
                <ul class="aca-collection">
                    <li *ngIf="!departments" class="aca-collection-item path-list-item">
                        <p class="empty-list">~ Pobieranie danych... ~</p>
                    </li>
               
                    <li *ngIf="departments && departments.length === 0" class="aca-collection-item path-list-item">
                        <p class="empty-list">~ Pusto ~</p>
                    </li>

                    <li *ngFor="let department of departments" class="aca-collection-item path-list-item">
                        <a [routerLink]="[department.id, 'semesters']" class="item-link @rowClass">
                            <span class="path-list-item-title">{{ department.name }}</span>
                            <br>
                            <span class="path-list-item-subtitle">{{ department.abbreviation }}</span>
                        </a>
    
                        <div class="icons-row-container">
                            <a [routerLink]="[department.id, 'edit-department']" class="tooltipped" data-position="top" data-tooltip="Edytuj">
                                <i class="material-icons list-icon icon-edit">edit</i>
                            </a>
                            <a (click)="confirmDialog.toggleModal('Czy na pewno chcesz usunąć ten wydział?', department.id)" class="tooltipped" data-position="top" data-tooltip="Usuń">
                                <i class="material-icons list-icon icon-delete tooltipped" data-position="top" data-tooltip="Usuń">delete</i>
                            </a>
                        </div>                
                    </li>
                </ul>
            </div>
            
            <a [routerLink]="['add-department']" class="add-button">
                Dodaj
            </a>
        </div>
    </div>
</div>

<app-confirmation-dialog #confirmDialog (submit)="onApproveDeleteDepartment($event)"></app-confirmation-dialog>