.home-container {
  width: 93%;
  max-height: 100vh;
}

.data-container {
  margin: 2.5em auto;
  width: 98%;
}

.tree-path {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.moderator-actions-item {
    transition: .5s all;
}

.moderator-actions-item:hover, .moderator-actions-item-active {
    background-color: #e8e8e8; /*#d8d8d8*/
    border-radius: 5px;
    transition: .5s all;
}

.moderator-actions-item:not(:first-child):not(:last-child) {
    margin: .2em auto;
}

.moderator-actions-item-link {
    padding: .6em;
    color: black;
    display: block;
    width: 100%;
    height: 100%;
}

.panel-title {
    margin-top: -1.1em;
    text-align: center;
    font-size: .9em;
}