body {
}

.table {
    table-layout: fixed;
}

.title {
    text-align: center;
}

th, td {
    text-align: left;
    width: 40%;
}

.legend {
    display: inline-block;
}

.moderator-management-wrapper {
    max-height: 69vh;
    overflow: auto;
}