<div class="data-container">
  <nav class="colornav">
    <div class="nav-wrapper path-header-wrapper">
      <div class="col s12 tree-path">
        Regulamin
      </div>
    </div>
  </nav>
  <div class="home-content">
    <h2>Regulamin korzystania z aplikacji acaShare:</h2><br />

    1. Niniejszy Regulamin określa zasady korzystania z portalu internetowego dostępnego pod adresem www.acashare.azurewebsites.net.<br /><br />
    2. Użytkownicy, którzy zarejestrują się w niniejszym portalu są zobowiązani do przestrzegania przepisów dotyczących RODO oraz ochrony własności intelektualnej w odniesieniu do umieszczanych materiałów.<br /><br />
    3. Materiały zamieszczane na stronie NIE MOGĄ zawierać nieodpowiednich treści (takich jak: pornografia, nagość, alkohol, narkotyki, inne substancje zakwalifikowane przez Polskie prawo jako nielegalne, broń, rasizm, mowa nienawiści, prześladowanie na tle religijnym, inne obraźliwe treści), powinny być umieszczone w odpowiedniej lokalizacji oraz nie powinny zawierać bezwartościowych informacji.<br /><br />
    4. Właściciel strony zastrzega sobie prawo do usunięcia każdego materiału, który w jakikolwiek sposób naruszy zasady opisane w dwóch powyższych punktach bez podawania przyczyny.<br /><br />
    5. Moderatorzy portalu dbają o jakość zamieszczanych na stronie treści i mają prawo do usuwania tych które wedle ich uznania nie są adekwatne do polityki witryny.<br /><br />
    6. Użytkownicy, którzy zauważą materiały według nich naruszające zasady portalu powinni taki materiał zgłosić do rozpatrzenia przez moderatora.<br /><br />
    7. Kady klient strony musi świadomie zaakceptować niniejszy regulamin i stosować się do wyżej wymienionych punktów przebywając w obrębie portalu acaShare.<br /><br />
  </div>
  </div>
