<div class="data-container">
    <nav class="colornav">
        <div class="nav-wrapper path-header-wrapper">
            <div class="col s12 tree-path">
                Sugestie usunięcia
            </div>
        </div>
    </nav>

    <div class="home-content">

        <div class="list-view-wrapper">
            <div class="list-container">
                <ul class="aca-collection">
                    <li *ngIf="!deleteSuggestions" class="aca-collection-item path-list-item">
                        <p class="empty-list">~ Pobieranie danych... ~</p>
                    </li>

                    <li *ngIf="deleteSuggestions && deleteSuggestions.length === 0" class="aca-collection-item path-list-item">
                        <p class="empty-list">~ Pusto ~</p>
                    </li>

                    <li *ngFor="let deleteSuggestion of deleteSuggestions"
                        class="aca-collection-item path-list-item" [ngSwitch]="deleteSuggestion.reasonId">

                        <i [ngClass]="iconClass" data-position="top" [attr.data-tooltip]="deleteSuggestion.reason"
                            *ngSwitchCase="1">
                            warning
                        </i>

                        <i [ngClass]="iconClass" data-position="top" [attr.data-tooltip]="deleteSuggestion.reason"
                            *ngSwitchCase="2">
                            pan_tool
                        </i>

                        <i [ngClass]="iconClass" data-position="top" [attr.data-tooltip]="deleteSuggestion.reason"
                            *ngSwitchCase="3">
                            receipt
                        </i>

                        <i [ngClass]="iconClass" data-position="top" [attr.data-tooltip]="deleteSuggestion.reason"
                            *ngSwitchCase="4">
                            location_off
                        </i>

                        <i [ngClass]="iconClass" data-position="top" [attr.data-tooltip]="deleteSuggestion.reason"
                            *ngSwitchCase="5">
                            feedback
                        </i>

                        <a [routerLink]="['/moderator-panel/delete-suggestions/delete-suggestion-approval-decision', deleteSuggestion.deleteRequestId]"
                            class="item-link">
                            <span class="path-list-item-title">
                                {{ deleteSuggestion.materialName }}
                            </span>
                            <br>
                            <span class="path-list-item-subtitle">
                                {{ deleteSuggestion.requestDate | polishDate }} &nbsp;&nbsp;~&nbsp;&nbsp;

                                <span *ngIf="!deleteSuggestion.additionalComment">
                                    Autor: {{ deleteSuggestion.deleterName }} nie dołączył dodatkowego wyjaśnienia.
                                </span>

                                <span *ngIf="deleteSuggestion.additionalComment?.length > 100">
                                    {{ deleteSuggestion.additionalComment.substr(0, 100) }}[...]
                                </span>

                                <span *ngIf="deleteSuggestion.additionalComment?.length <= 100">
                                    {{ deleteSuggestion.additionalComment }}
                                </span>
                            </span>
                        </a>

                        <div class="icons-row-container">
                            <a (click)="approveDialog.toggleModal('Czy na pewno chcesz zatwierdzić tę sugestię usunięcia?', deleteSuggestion.deleteRequestId)" class="approve-delete-request">
                                <i class="material-icons list-icon icon-edit tooltipped" data-position="top"
                                    data-tooltip="Zatwierdź - usuń materiał">delete_forever</i>
                            </a>
                            <a [routerLink]="['/moderator-panel/delete-suggestions/decline-delete-request', deleteSuggestion.deleteRequestId]">
                                <i class="material-icons list-icon icon-delete tooltipped" data-position="top"
                                    data-tooltip="Odrzuć sugestię">not_interested</i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-confirmation-dialog #approveDialog (submit)="onApproveDeleteSuggestion($event)"></app-confirmation-dialog>