.gallery-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.82);
}

.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 88%;
    animation-name: zoom;
    animation-duration: .6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.current-slide-info {
    top: 1.76em;
    color: #f2f2f2;
    font-size: 16px;
    position: absolute;
    cursor: default;
    width: 100%;
    text-align: center;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
}

.gallery-item {
    display: none;
    max-height: 100%;
    height: 100%;
    width: 100%;
    position: relative;
}

.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}