@model UniversityViewModel

@{
    var parms = new Dictionary<string, string>
    {
        { "universityId", Model.Id.ToString() },
        { "confirmation", "true" }
    };
}

<span class="text-danger">UWAGA! Czy na pewno chcesz usunąć uczelnię "@Model.TitleOrFullName"? Wiąże się to z usunięciem całej jej struktury.</span>
<br /><br />
<div>
    <a asp-action="Delete" asp-all-route-data="parms">Usuń wszystkie dane uczelni</a>
</div>
<div>
    <a asp-action="Universities">Anuluj</a>
</div>