@model UniversityViewModel

@{
    var parms = new Dictionary<string, string>
    {
        { "universityId", Model.Id.ToString() },
        { "confirmation", "true" }
    };
}

<div class="text-danger delete-warning">UWAGA! Czy na pewno chcesz usunąć uczelnię "@Model.TitleOrFullName"? Wiąże się to z usunięciem całej jej struktury.</div>
<br />
<div class="buttons">
    <a asp-action="Delete" asp-all-route-data="parms" class="btn btn-default accept-button delete-button">Usuń wszystkie dane uczelni</a>
    <a asp-action="Universities" class="btn btn-default back-button">Anuluj</a>
</div>
