@model UniversityViewModel

<div class="row">
    <form method="post" class="col s12">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <div class="input-field">
                <label asp-for="TitleOrFullName"></label>
                <input asp-for="TitleOrFullName" class="validate" />
                <span asp-validation-for="TitleOrFullName" class="text-danger input-error-small"></span>
            </div>
        </div>
        <div>
            <div class="input-field">
                <label asp-for="SubtitleOrAbbreviation"></label>
                <input asp-for="SubtitleOrAbbreviation" />
                <span asp-validation-for="SubtitleOrAbbreviation" class="text-danger input-error-small"></span>
            </div>
        </div>
        <input asp-for="Id" type="hidden" />

        <button type="submit">Aktualizuj</button>
        <a asp-action="Universities">Wróć do listy uczelni</a>
    </form>
</div>