.materialize-textarea.material-description-textarea {
    max-height: 7em;
    overflow-y: auto;
    margin-bottom: 0;
}

.material-content {
    max-height: 50vh;
}

.material-container .buttons {
    margin-top: .5em;
}

.material-file {
    width: 7em;
    height: 7em;
    margin-bottom: .5em;
}

div.input-field.material-file-edit-mode-filename {
    margin-bottom: 0;
    width: 90%;
}

.material-file-edit-mode-filename input {
    font-size: 11px !important;
    height: 2rem !important;
    margin: 0;
}

div.file-field.input-field {
    margin-top: 0;
    margin-bottom: .5em;
}

div.file-field.input-field .btn {
    font-size: .7em;
}

.row.home-container .home-part {
    max-height: none;
}

@media only screen and (min-height: 600px) {
    .materialize-textarea.material-description-textarea {
        max-height: 5em;
    }
    .material-content {
        max-height: 22vh;
    }
}

@media only screen and (min-height: 950px) {
    .materialize-textarea.material-description-textarea {
        max-height: 8em;
    }

    div.input-field.material-file-edit-mode-filename {
        width: 100%;
    }

    .material-file-edit-mode-filename input {
        font-size: 16px !important;
        height: 3rem !important;
    }

    .material-file {
        width: 13em;
        height: 13em;
    }

    div.file-field.input-field {
        margin-top: .5em;
        margin-bottom: .5em;
    }

    div.file-field.input-field .btn {
        font-size: 1em;
    }

    .material-content {
        max-height: 33vh;
    }

    .material-container .buttons {
        margin-top: 1.6em;
    }
}