@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section LoginRegisterCSS{
    <link rel="stylesheet" href="~/css/login/LoginStyle.css">
}

<div class="row">
    <h2>Logowanie</h2>  
    <div class="main-container">
        <section>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Input.UserName">@Html.DisplayNameFor(m => m.Input.UserName)</label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Input.Password">@Html.DisplayNameFor(m => m.Input.Password)</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="checkbox" asp-for="Input.RememberMe" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default signin-button wide">Zaloguj się</button>
                </div>
                Nie masz konta?
                <div class="form-group">
                    <p>
                        <a class="btn btn-default signup-button short" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
