<div class="content">
    1. Niniejszy Regulamin określa zasady korzystania z portalu internetowego dostępnego pod adresem www.acashare.azurewebsites.net.
    2. Użytkownicy którzy zarejestrują się w niniejszym portalu są zobowiązani do przestrzegania przepisów dotyczących RODO oraz ochrony własności intelektualnej w odniesieniu do umieszczanych materiałów.
    3. Materiały zamieszcane na stronie NIE MOGĄ zawierać nieodpowiednich treści (takich jak: pornografia, nagość, alkochol, narkotyki, inne substancje zakwalifikowane przez Polskie prawo jako nielegalne, broń, rasizm, mowa nienawiści, prześladowanie na tle religijnym, inne obraźliwe treści), powinny być umieszczone w odpowiedniej lokalizacji oraz nie powinny zawierać bezwartościowych informacji.
    4. Właściciel strony zastrzega sobie prawo do usunięcia każdego materiału, który który w jaki kolwiek sposób naruszy zasady opisane w dwóch powyższych punktach bez podawania przyczyny.
    5. Moderatorzy portalu dbają o jakość zamieszczanych na stronie treści i mają prawo do usówania tych które wedle ich uznania nie są adekwatne do polityki witryny.
    6. Użytkownicy którzy zauważą materiały według nich naruszające zasady portalu powinni taki materiał zgłosić do rozpatrzenia przez moderatora.
    7. Kady klient strony musi świadomie zaakceptować niniejszy regulamin i stosować się do wyżej wymienionych punktów przebywająć w obrębie portalu acaShare.
</div>