@page "/Moderator/ModeratorPanel/UniversitiesStructureManagement/Universities/{UniversityId:int}/Departments/{DepartmentId:int}/Edit"
@inject IUniversityTreeTraversalService TraversalService
@inject IUniversityTreeManagementService ManagementService
@inject NavigationManager NavigationManager

<div class="data-container">
    <Breadcrumbs BreadcrumbsItems="@_breadcrumbsItems" />

    <div class="home-content">
        <div class="material-container">
            <EditForm Model="_department" OnValidSubmit="OnEdit" class="col s12">
                <DataAnnotationsValidator />
                <div class="text-danger @_display">Wydział o takiej nazwie lub skrócie już istnieje</div>

                <div>
                    <label for="Model.TitleOrFullName">Nazwa wydziału</label>
                    <div class="input-field">
                        <InputText @bind-Value="_department.TitleOrFullName" @oninput="ClearError" class="validate" />
                        <ValidationMessage For="@(() => _department.TitleOrFullName)" />
                    </div>
                </div>
                <div>
                    <label for="Model.SubtitleOrAbbreviation">Skrót</label>
                    <div class="input-field">
                        <InputText @bind-Value="_department.SubtitleOrAbbreviation" @oninput="ClearError" class="validate" />
                        <ValidationMessage For="@(() => _department.TitleOrFullName)" />
                    </div>
                </div>

                <div class="buttons">
                    <button type="submit" class="btn btn-default accept-button">Aktualizuj</button>
                    <NavLink href=@($"/Moderator/ModeratorPanel/UniversitiesStructureManagement/Universities/{UniversityId}/Departments") class="btn btn-default back-button">
                        <span class="back-button-large">Wróć do listy wydziałów</span>
                        <span class="back-button-small">Cofnij</span>
                    </NavLink>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int UniversityId { get; set; }

    [Parameter]
    public int DepartmentId { get; set; }

    private IReadOnlyCollection<BreadcrumbViewModel> _breadcrumbsItems;
    private BLL.Models.University _university;
    private DepartmentViewModel _department;
    private string _display = "hidden";


    protected override void OnInitialized()
    {
        var department = TraversalService.GetDepartment(DepartmentId);
        if (department == null)
        {
            NavigationManager.NavigateTo($"ResourceNotFound/{Errors.DepartmentNotFound}");
        }

        _department = new DepartmentViewModel
        {
            DepartmentId = department.DepartmentId,
            TitleOrFullName = department.Name,
            SubtitleOrAbbreviation = department.Abbreviation
        };

        _university = department.University;
        if (_university.UniversityId != UniversityId)
        {
            NavigationManager.NavigateTo($"ResourceNotFound/{Errors.UniversityNotFound}");
        }

        _breadcrumbsItems = new List<BreadcrumbViewModel>
        {
            new BreadcrumbViewModel("Uczelnie", "/Moderator/ModeratorPanel/UniversitiesStructureManagement/Universities"),
            new BreadcrumbViewModel(_university.Name, $"/Moderator/ModeratorPanel/UniversitiesStructureManagement/Universities/{UniversityId}/Departments"),
            new BreadcrumbViewModel("Edycja wydziału")
        };
    }

    private void OnEdit()
    {
        if (_university == null)
        {
            NavigationManager.NavigateTo($"ResourceNotFound/{Errors.UniversityNotFound}");
        }

        var departmentToEdit = TraversalService.GetDepartment(DepartmentId);
        if (departmentToEdit == null)
        {
            NavigationManager.NavigateTo($"ResourceNotFound/{Errors.DepartmentNotFound}");
        }

        departmentToEdit.Update(_department.TitleOrFullName, _department.SubtitleOrAbbreviation, _university);

        bool success = ManagementService.UpdateDepartment(departmentToEdit);

        if (!success)
        {
            _display = "block";
        }
        else
        {
            NavigationManager.NavigateTo($"/Moderator/ModeratorPanel/UniversitiesStructureManagement/Universities/{UniversityId}/Departments");
        }
    }

    private void ClearError()
    {
        if (_display != "hidden")
        {
            _display = "hidden";
        }
    }
}
