@{
    ViewData["Title"] = "Home Page";
}

<ul class="collection">
    <li class="collection-item path-list-item"><div>Polsko-Japońska Akademia Technik Komputerowych<a href="pjatk.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li class="collection-item path-list-item"><div>Politechnika Warszawska<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li class="collection-item path-list-item"><div>Uniwersytet Warszawski<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
    <li class="collection-item path-list-item"><div>Szkoła Główna Gospodarstwa Wiejskiego<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
</ul>
