@model ListViewModel<SemesterViewModel>

<div class="structure-management-container">
    <div class="list-container">
        <ul class="aca-collection">
            @foreach (var semester in @Model.Items)
            {
                var parms = new Dictionary<string, string>
                {
                    { "semesterId", @semester.Id.ToString() },
                    { "departmentId", Model.HelperId.ToString() }
                };

                <li class="aca-collection-item path-list-item">
                    <a asp-controller="LessonsManagement" asp-action="Lessons" asp-all-route-data="@parms" class="item-link item-small">
                        <span class="path-list-item-title">@semester.TitleOrFullName</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>