<nav>
  <div class="nav-wrapper">
    <a [routerLink]="(isAuthenticated | async) ? ['/home'] : ['/']" class="brand-logo">acaShare.Angular</a>

    <div id="notification-bell-mobile" class="notifications-bell-mobile-wrapper">
      <a class="notifications-bell-mobile" id="notification-mobile" (click)="toggleNotifications()">
        <i class="material-icons">notifications</i>
      </a>
    </div>

    <a href="#" data-target="mobile-hamburger" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" *ngIf="isAuthenticated | async">
      <li id="notifications-li">
        <a id="notification" (click)="toggleNotifications()">
          <i class="material-icons">notifications</i>
        </a>
      </li>

      <li>
        <a [routerLink]="['/moderator-panel/materials-to-approve']">Panel moderatora</a>
      </li>

      <li>
        <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Wyloguj">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>


<ul class="sidenav" id="mobile-hamburger">
  <li><a [routerLink]="['/']">Strona główna</a></li>

  <li><a [routerLink]="['/moderator-panel/materials-to-approve']">Panel moderatora</a></li>

  <li>
    <!--<form id="logout-form"
          asp-area="Identity"
          asp-page="/Account/Logout"
          asp-route-returnUrl="@Url.Page(" /Index", new { area="" })"
          method="post"></form>

    <a href="javascript:{}" onclick="document.getElementById('logout-form').submit()">Wyloguj</a>-->
  </li>
</ul>
