<nav>
  <div class="nav-wrapper">
    <a [routerLink]="(isAuthenticated | async) ? ['/home'] : ['/']" class="brand-logo">acaShare.Angular</a>

    <div id="notification-bell-mobile" class="notifications-bell-mobile-wrapper">
      <a class="notifications-bell-mobile" id="notification-mobile" (click)="toggleNotifications()">
        <i class="material-icons">notifications</i>
      </a>
    </div>

    <a (click)="toggleSidebar()" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down" *ngIf="isAuthenticated | async">
      <li id="notifications-li">
        <a id="notification" (click)="toggleNotifications()">
          <i class="material-icons">notifications</i>
        </a>
      </li>

      <li>
        <a [routerLink]="['/moderator-panel/materials-to-approve']">Panel moderatora</a>
      </li>

      <li>
        <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Wyloguj">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>


<ul 
  class="sidenav" 
  id="mobile-hamburger" 
  [style.transform]="isNavbarShown ? 'translate(0%)' : 'translate(-105%)'"
  (click)="toggleSidebar()">
    <li><a [routerLink]="['/']">Strona główna</a></li>
    
    <li><a [routerLink]="['/moderator-panel/materials-to-approve']">Panel moderatora</a></li>
    
    <li>
      <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Wyloguj">Wyloguj</a>
    </li>
</ul>

<div class="sidenav-overlay" 
  (click)="toggleSidebar()"
  [ngStyle]="{'display': isNavbarShown ? 'block' : 'none', 'opacity': isNavbarShown ? 1 : 0}">
</div>


<div class="notificationContainer">
  <ul class="notificationList" id="notificationList" [ngClass]="areNotificationsShown ? '' : 'hidden'">
    <a *ngFor="let notification of notifications" class="notification-list-button">
      <li 
        class="notification-list-element" 
        (click)="toggleFullNotificationContent(notification)" 
        [ngStyle]="{'cursor': shouldShowPointerOnNotification(notification) ? 'pointer' : 'default' }">
          <div class="content-div">
            {{ shortenNotificationContent(notification) }}
          </div>
          <div class="date-div">
            {{ notification.date | polishDate }}
          </div>
      </li>
    </a>
  </ul>
</div>

<div class="notivications-overlay" 
  (click)="toggleNotifications()"
  [ngStyle]="{'display': areNotificationsShown ? 'block' : 'none', 'opacity': areNotificationsShown ? 1 : 0}">
</div>