<body>
  <noscript class="no-script">
    <style>
      body *:not(.no-script) {
        display: none;
      }

      .no-script {
        text-align: center;
      }

      .no-script-data {
        padding: 1em;
      }

      .brand-logo {
        margin: 0;
        position: static !important;
      }

      .no-script h1 {
        font-size: 3.4rem;
      }

      .no-script h3 {
        font-size: 2rem;
      }

      .no-script img {
        margin-top: 1em;
      }
    </style>

    <nav class="no-script">
      <div class="nav-wrapper no-script">
        <a asp-area="Main" asp-controller="List" asp-action="AvailableUniversities" class="brand-logo no-script">acaShare</a>
      </div>
    </nav>
    <div class="no-script no-script-data">
      <h1 class="no-script">Ups...</h1>
      <h3 class="no-script home-container">
        Wygląda na to, że obsługa Javascript jest wyłączona.<br class="no-script" />
        Aby korzystać ze wszystkich funkcjonalności aplikacji, włącz obsługę Javascript.
      </h3>
      <img class="no-script" src="~/images/PageNotFound.png" />
    </div>
  </noscript>

  <app-nav-menu></app-nav-menu>

  <!--<div class="notificationContainer">
    <ul class="notificationList" id="notificationList"></ul>
  </div>-->

<div class="row home-container">
    <div class="col s12 m5 l3 home-part moderator-actions-container">
        <div class="data-container">
            <nav class="colornav">
                <div class="nav-wrapper path-header-wrapper">
                    <div class="col s12 tree-path">
                        Akcje
                    </div>
                </div>
            </nav>

            <div class="home-content">
                <ul id="moderator-actions" class="moderator-actions">
                    <li class="moderator-actions-item moderator-actions-item-active">
                        <a class="moderator-actions-item-link">
                            Materiały oczekujące na zatwierdzenie
                        </a>
                    </li>
                    <li class="moderator-actions-item">
                        <a class="moderator-actions-item-link" asp-controller="EditSuggestions" asp-action="EditSuggestions">
                            Sugestie edycji
                        </a>
                    </li>
                    <li class="moderator-actions-item">
                        <a class="moderator-actions-item-link" asp-controller="DeleteSuggestions" asp-action="DeleteSuggestions">
                            Sugestie usunięcia
                        </a>
                    </li>
                   
                        <li class="moderator-actions-item">
                            <a class="moderator-actions-item-link" asp-controller="UniversitiesManagement" asp-action="Universities">
                                Zarządzaj strukturą uczelni
                            </a>
                        </li>
                        <li class="moderator-actions-item">
                            <a class="moderator-actions-item-link" asp-controller="ModeratorManagement" asp-action="Home">Zarządzaj moderatorami</a>
                        </li>
                    
                    <li class="moderator-actions-item">
                        <a class="moderator-actions-item-link" asp-controller="Statistics" asp-action="Statistics">
                            Statystyki
                        </a>
                    </li>
                    <li class="moderator-actions-item">
                        <a class="moderator-actions-item-link" asp-area="Main" asp-controller="List" asp-action="Regulations">
                            Regulamin
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m7 l9 home-part">
        <div class="data-container">
            <nav class="colornav">
                <div class="nav-wrapper path-header-wrapper">
                    <div class="col s12 tree-path">

                    </div>
                </div>
            </nav>

            <div class="home-content">
              <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
</body>
