.login-redirect-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

.login-redirect {
    font-size: 20px;
}

.spinner {
    margin-top: 1rem;
    width: 50px;
}