<ng-template [ngIf]="isAuthenticated | async" [ngIfElse]="notAuthenticated">
    <li>
        <a class="nav-link text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Wyloguj">Wyloguj</a>
    </li>
</ng-template>

<ng-template #notAuthenticated>
    <li>
        <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Rejestracja</a>
    </li>
    <li>
        <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Logowanie</a>
    </li>
</ng-template>

