@model DepartmentViewModel

<div class="row">
    <form method="post" class="col s12">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <div class="input-field">
                <label asp-for="TitleOrFullName"></label>
                <input asp-for="TitleOrFullName" class="validate" />
                <span asp-validation-for="TitleOrFullName" class="text-danger input-error-small"></span>
            </div>
        </div>
        <div>
            <div class="input-field">
                <label asp-for="SubtitleOrAbbreviation"></label>
                <input asp-for="SubtitleOrAbbreviation" />
                <span asp-validation-for="SubtitleOrAbbreviation" class="text-danger input-error-small"></span>
            </div>
        </div>
        <input asp-for="UniversityId" type="hidden" />

        <button type="submit">Dodaj</button>
        <a asp-action="Departments" asp-route-universityId="@Model.UniversityId">Wróć do listy wydziałów</a>
    </form>
</div>