@model DepartmentViewModel

@{
    var parms = new Dictionary<string, string>
    {
        { "departmentId", Model.Id.ToString() },
        { "confirmation", "true" }
    };
}

<div class="text-danger delete-warning">
    UWAGA! Czy na pewno chcesz usunąć wydział "@Model.TitleOrFullName"? 
    Wiąże się to z usunięciem całej jego dalszej struktury oraz wszystkich materiałów z nim związanych.
</div>
<br />
<div class="buttons">
    <a asp-action="Delete" asp-all-route-data="parms" class="btn btn-default accept-button delete-button">Usuń wszystkie dane wydziału</a>
    <a asp-action="Departments" asp-route-universityId="@Model.UniversityId" class="btn btn-default back-button">Anuluj</a>
</div>