@model DepartmentViewModel

@{
    var parms = new Dictionary<string, string>
    {
        { "departmentId", Model.Id.ToString() },
        { "confirmation", "true" }
    };
}

<span class="text-danger">
    UWAGA! Czy na pewno chcesz usunąć wydział "@Model.TitleOrFullName"? 
    Wiąże się to z usunięciem całej jego dalszej struktury oraz wszystkich materiałów z nim związanych.
</span>
<br /><br />
<div>
    <a asp-action="Delete" asp-all-route-data="parms">Usuń wszystkie dane wydziału</a>
</div>
<div>
    <a asp-action="Departments" asp-route-universityId="@Model.UniversityId">Anuluj</a>
</div>