<div class="data-container">
    <nav class="colornav">
        <div class="nav-wrapper path-header-wrapper">
            <div class="col s12 tree-path">
                <a [routerLink]="['/moderator-panel/university-tree-management/universities']" class="breadcrumb">
                    Uczelnie
                </a>
                <a [routerLink]="['/moderator-panel/university-tree-management/universities', universityId, 'departments']" class="breadcrumb">
                    {{ universityAbbreviation }}
                </a>
                <a [routerLink]="['/moderator-panel/university-tree-management/universities', universityId, 'departments']" class="breadcrumb">
                    Wydziały
                </a>
                <a [routerLink]="['./']" class="breadcrumb">
                    {{ departmentAbbreviation }}
                </a>
                <a class="breadcrumb">
                    Semestry
                </a>
            </div>
        </div>
    </nav>

    <div class="home-content">
        <div class="list-view-wrapper">
            <div class="list-container">
                <ul class="aca-collection">
                    <li *ngIf="!semesters" class="aca-collection-item path-list-item">
                        <p class="empty-list">~ Pobieranie danych... ~</p>
                    </li>
               
                    <li *ngIf="semesters && semesters.length === 0" class="aca-collection-item path-list-item">
                        <p class="empty-list">~ Pusto ~</p>
                    </li>

                    <li *ngFor="let semester of semesters" class="aca-collection-item path-list-item">
                        <a [routerLink]="[semester.id, 'subjects']" class="item-link @rowClass">
                            <span class="path-list-item-title">{{ semester.name }}</span>
                        </a>
    
                        <div class="icons-row-container">
                        </div>                
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>